<div class="container-inner">
    <h1 class="heading">Contact Us</h1>
    <p>If you have any comments about our Camino experience, or any comments about the website please complete the details below:</p>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Your name" [formControl]="yourName" [errorStateMatcher]="matcher">
            <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
            <mat-error *ngIf="yourName.hasError('required')">
                Your name is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Your email address" [formControl]="yourEmail">
            <mat-error *ngIf="yourEmail.hasError('email') && !yourEmail.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="yourEmail.hasError('required')">
                Your email address is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Your comment(s)" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
    </form>
    <div class="submit-button">
        <button mat-raised-button color="primary" (click)="submit($event)">Primary</button>
    </div>
</div>