.container-inner {
    left: 0;
    width: 700px;
}

table { width: 100%; }
.dayNumber { width: 10%; }
.destination { width: 45%; }
.type { width: 15%; }
.name { width: 30%; }

.heading {
    font-size: 2rem;
    text-align: center;
}

.dayNumber { text-align: center; }

tbody tr {
    border-bottom: 1px solid rgb(233, 230, 230);
}

/* tr:nth-child(even):hover {background: #CCC} */
tr:hover {background: #CCC}
